<main id="content" role="main" class="bg-light">
  <!-- Breadcrumb Section -->
  <div class="bg-navy">
    <div class="container space-1 space-top-lg-2 space-bottom-lg-3">
      <div class="w-lg-65 text-center mx-lg-auto">
      <span class="badge badge-soft-light badge-pill font-size-1 py-3 px-4 mb-3">
        <ol class="breadcrumb breadcrumb-light breadcrumb-no-gutter mb-0">
            <li class="breadcrumb-item"><%= link_to 'My Notebooks', edit_notebook_path(@notebook), class: "text-light text-highlight-light" %></li>
            <li class="breadcrumb-item"><%= link_to @notebook.title, edit_notebook_path(@notebook), class: "text-light text-highlight-light" %></li>
            <li class="breadcrumb-item active" aria-current="page">New Note</li>
          </ol>
      </span>
      </div>
    </div>
  </div>
  </div>
  <!-- End Breadcrumb Section -->
  <div class="container space-2 space-top-lg-0 mt-lg-n10">
    <!-- Responsive Toggle Button -->
    <button type="button" class="navbar-toggler btn btn-icon btn-sm rounde-circle d-lg-none"
            aria-label="Toggle navigation"
            aria-expanded="false"
            aria-controls="sidebarNav"
            data-toggle="collapse"
            data-target="#sidebarNav">
              <span class="navbar-toggler-default">
                <i class="fas fa-bars"></i>
              </span>
      <span class="navbar-toggler-toggled">
                 <i class="fas fa-times"></i>
              </span>
    </button>
    <!-- End Responsive Toggle Button -->
    <div class="row">
      <div class="col-lg-4">
        <%= render "notes/note_sidebar" %>
      </div>

      <div class="col-lg-8">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Create New Note</h5>
          </div>
          <div class="card-body">
            <%= render 'form', note: @note %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
