.message-header {
	font-size: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.root{
	display: flex;
}

.MuiDrawer-paper{
	width: 250px;
}
.content{
	flex-grow: 1;
}
.message-body{
	display: flex;
	flex-flow: column nowrap;
	height: 100vh;
}
.message-main{
	flex-grow: 1;
}

.app-bar{
	z-index: 10000!important;
}

@media only screen and (max-width: 390px) {
	.app-header {
		font-size: .9rem !important;
	}
}

