.message-header {
	font-size: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
ul.people-list {
	padding: 0px;
	margin: 0px;
	border-right: 1px solid #ddd;
}
ul.people-list li {
	list-style: none;
	padding: 10px;
	background: #eee;
	border-bottom: 2px solid #fff;
	color: #333;
}

ul.people-list li:hover {
	background: #ddd;
	cursor: pointer;
}

.conversation-actor.active{
	background: #ddd;
	font-weight: bold;
}

.no-of-messages {
	background: red;
	color: #fff;
	padding:4px 8px;
	border-radius: 50%;
	text-align: right;
}

ul.people-list li span {
	font-size: 20px;
}

.message-box {
	bottom: 0;
	position: fixed;
	width: 100%;
	padding-bottom: 5px;
}

.message-input {
	border: 1px solid #eee;
	margin: 0px;
	height: 80px;
	background: #ddd;
	width: 100%;
}

.conversation-item {
	color: #333;
}

.conversation-item.message-owner {
	text-align: right;
}

.message-content {
	padding: 10px;
	border-radius: 8px;
	background: #eee;
	display: inline-block;
	max-width: 70%;
}

.conversation-item.message-owner .message-content{
	background: #2f75c1;
	margin: 0 10px;
	color: #fff;
}

.sender-changed.conversation-item {
	margin-top: 10px;
}

.conversation-item .person-name {
	font-size: 20px;
}

.conversation-item .message-created-time {
	font-size: 11px;
	color: #888;
	padding-left: 6px;
	padding-right: 10px;
}

.message-wrapper {
	max-height: 400px;
	overflow: scroll;
}
