.conversation-item {
  color: #333;
  padding: 0 15px;

  .message-content {
    padding: 10px;
    border-radius: 12px;
    background: #eee;
    display: inline-block;
    max-width: 70%;
  }

  .person-name {
    font-size: 20px;
    display: inline-flex;
  }

  .message-created-time {
    font-size: 11px;
    color: #888;
    padding-left: 6px;
    padding-top: 2px;
    padding-right: 10px;
  }
}

.conversation-item.message-owner {
  text-align: right;

  .message-content {
    background: #2f75c1;
    margin: 0 10px;
    color: #fff;
    border-bottom-right-radius: 0;
  }
}

.conversation-item.sender-owner {
  .message-content {
    border-bottom-left-radius: 0;
  }
}

.person-name-item {
  margin-left: 4px;
}

.person-icon {
  font-size: 1.8rem !important;
  color: #3769b5;
}

.sender-changed.conversation-item {
  margin-top: 10px;
}

.conversation-title {
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  position: fixed !important;
  width: 100%;
}

.message-item-wrapper {
  margin: 8px 0;
}

.message-card {
  //margin: 5rem 1rem 1rem 1rem;
}

.active-conversation {
  display: flex;
  height: 65vh;
  overflow: auto;
  flex-flow: column nowrap;
}

.active-conversation-paper{
  margin: 1rem;
  overflow: hidden;
}

.no-message {
  text-align: center;
  margin-top: 10% !important;
}

.no-message-card {
  width: 10%;
  margin: auto;
  padding: 10px 0;
  color: #3f51b5 !important;
}

.dummy-toolbar{
  visibility: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (max-width: 1500px) {
  .no-message-card {
    width: 20%;
  }
}

@media only screen and (max-width: 900px) {
  .no-message-card {
    width: 40%;
  }
}
