.conversation-item {
    color: #333;
    padding: 0 15px;
    .message-content {
        padding: 10px;
        border-radius: 12px;
        background: #eee;
        display: inline-block;
        max-width: 70%;
    }
    .person-name {
        font-size: 20px;
        display: inline-flex;
    }
    .message-created-time {
        font-size: 11px;
        color: #888;
        padding-left: 6px;
        padding-right: 10px;
    }
}

.conversation-item.message-owner {
    text-align: right;
    .message-content{
        background: #2f75c1;
        margin: 0 10px;
        color: #fff;
        border-bottom-right-radius: 0;
    }
}
.conversation-item.sender-owner {
    .message-content{
        border-bottom-left-radius: 0;
    }
}

.person-name-item{
    margin-left: 4px;
}

.person-icon{
    font-size: 1.8rem !important;
    color: #3769b5;
}

.sender-changed.conversation-item {
    margin-top: 10px;
}

.active-conversation-wrapper {

}

.conversation-title{
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.message-item-wrapper{
    margin: 8px 0;
}

@media only screen and (max-device-height: 750px ) {
    .active-conversation-wrapper{
        height: 68vh;
    }

}

@media only screen and (max-device-height: 650px ) {
    .active-conversation-wrapper{
        height: 60vh;
    }

}@media only screen and (max-device-height: 550px ) {
    .active-conversation-wrapper{
        height: 48vh;
    }

}
