.conversation-item {
    color: #333;
    .message-content {
        padding: 10px;
        border-radius: 8px;
        background: #eee;
        display: inline-block;
        max-width: 70%;
    }
    .person-name {
        font-size: 20px;
    }
    .message-created-time {
        font-size: 11px;
        color: #888;
        padding-left: 6px;
        padding-right: 10px;
    }
}

.conversation-item.message-owner {
    text-align: right;

    .message-content{
        background: #2f75c1;
        margin: 0 10px;
        color: #fff;
    }
}

.sender-changed.conversation-item {
    margin-top: 10px;
}

.active-conversation-wrapper {
    overflow: scroll;
}
