.new-message-box-container {
	bottom: 0;
	width: 100%;
	position: fixed;
	padding: 2rem;
	background-color: white;
	.message-input {
		border: 1px solid #eee;
		height: 80px;
		background: #ddd;
		width: 80%;
		padding: 10px;
		border-radius: 8px;
	}
}
.send-btn{
	margin-top: 10px;
}

.MuiFormControl-root{
	width: 80%;
}

@media only screen and (max-width: 1214px) {
	.MuiFormControl-root{
		width: 50%;
	}
}
