.new-message-box-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.message-input {
		border: 1px solid #eee;
		height: 80px;
		background: #ddd;
		width: 80%;
		padding: 10px;
		border-radius: 8px;
	}
}
.send-btn{
	text-align: right;

	input{
		display: none;
	}
}

.attach-btn{
	margin-right: 10px !important;;
}

.MuiFormControl-root{
	width: 100%;
}
