.new-message-box-container {
	width: 100%;
	padding: 2rem;
	background-color: white;
	border-top: 1px solid rgba(0, 0, 0, 0.12);
	.message-input {
		border: 1px solid #eee;
		height: 80px;
		background: #ddd;
		width: 80%;
		padding: 10px;
		border-radius: 8px;
	}
}
.send-btn{
	margin-top: 10px;
}

.MuiFormControl-root{
	width: 100%;
}
