ul.people-list {
    padding: 0px;
    margin: 0px;
    border-right: 1px solid #ddd;

    li {
        list-style: none;
        padding: 10px;
        background: #eee;
        border-bottom: 2px solid #fff;
        color: #333;

        span {
            font-size: 20px;
        }

        .no-of-messages {
            background: red;
            color: #fff;
            padding:4px 8px;
            border-radius: 50%;
            text-align: right;
        }
    }

    li:hover {
        background: #ddd;
        cursor: pointer;
    }

    li.active {
        background: #ddd;
        font-weight: bold;
    }
}

.drawer{
    height: 90vh;
}

.drawer .MuiDrawer-paper{
    position: initial;
}
.drawer-container{
    overflow: auto;
}

.MuiDrawer-paper{
    top: 64px !important;
}

.drawer .MuiSvgIcon-root{
    font-size: 1.6rem;
    color: #3769b5 !important;
}

.list-title .MuiTypography-body1{
    font-size: .8rem !important;
}

.no-of-messages{
    background: #3f51b5;
    color: white;
    padding: 4px;
    width: 16px;
    font-size: 12px;
    border-radius: 12px;
    text-align: center;
}
