@import "../../variables";

ul.people-list {
    padding: 0px;
    margin: 0px;
    border-right: 1px solid #ddd;

    li {
        list-style: none;
        padding: 10px;
        background: #eee;
        border-bottom: 2px solid #fff;
        color: #333;

        span {
            font-size: 20px;
        }

        .no-of-messages {
            padding:4px 8px;
            text-align: right;
        }
    }

    li:hover {
        background: #ddd;
        cursor: pointer;
    }

    li.active {
        background: #ddd;
        font-weight: bold;
    }
}

.drawer{
    width: 250px;
    flex-shrink: 0;
    z-index: 1;
}
.drawerContainer{
    overflow: auto;
}

.drawer-container{
    ul{
        padding-top: 7px !important;
    }
}

.drawer .MuiSvgIcon-root{
    font-size: 40px;
    color: #757575 !important;
}

.list-title .MuiTypography-body1{
    font-size: .9rem !important;
    font-weight: 500;
    //letter-spacing: .5px;
}

.no-of-messages{
    float:right;
    text-align: center;
}

.aside-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}
.people{
    margin: 5px;
    border-radius: 10px;
}
.people:hover{
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 10px;
}

.aside-active{
    background-color: rgba(0, 0, 0, .05);
    border-radius: 0;
    transition: all 0.3s ease;
    border-right: 2px solid $primary-color;
}
