<div class="card mb-3 mb-lg-5">
 	<div class="card-header">
    	<h5 class="card-title">Education</h5>
  	</div>
  	<div class="card-body">
		<% current_user.educations.each do |education| %>
			<%= education.inspect %>
			<br /> <br />===========
		<% end %>
  	</div>
</div>
