<div class="card mb-3 mb-lg-5">
 	<div class="card-header">
    	<h5 class="card-title">Experience</h5>
  	</div>
  	<div class="card-body">
		<% current_user.experiences.each do |experience| %>
			<%= experience.inspect %>
			<br /> <br />===========
		<% end %>
  	</div>
</div>
