.create-group-form {
    padding: 2rem;
    margin: auto;
    width: 50%;
    margin-top: 2rem;
    .input-box {
        margin-bottom: 10px
    }
    ul{
        padding: 0;
    }
    button {
        margin-left: 12px;
    }
}

.error {
    color: #B00100;
}

.enroll-user {
    list-style: none;
}
