<h3>
	
</h3>

<!-- Hero Section -->
<div class="bg-navy bg-img-hero">
  <div class="container space-1 ">
    <div class="w-lg-65 text-center mx-lg-auto">
      <span class="badge badge-soft-light badge-pill font-size-1 py-3 px-4 mb-3">
       <nav aria-label="breadcrumb">
         <ol class="breadcrumb breadcrumb-light breadcrumb-no-margin">
          <li class="breadcrumb-item"><a href="<%= trading_stocks_path %>" class="text-light text-highlight-light">All Stocks</a></li>
          <li class="breadcrumb-item active" aria-current="page">
          	Import Earning date history for <%= @stock.ticker_with_name %>
          </li>
        </ol>
        </nav>
      </span>
    </div>
  </div>
</div>
<!-- End Hero Section -->
<div class="container space-1">
  <!-- Card -->
  <div class="card mx-auto">
    <!-- Form -->
    <%= render "earning_dates_form" %>
    <!-- End Card -->
    <!-- SVG Elements -->
    <figure class="max-w-19rem w-100 position-absolute bottom-0 right-0 z-index-n1 hide-svg">
      <div class="mb-n7 mr-n7">
        <img class="img-fluid" src="<%= asset_path("components/dots-3.svg") %>" alt="Image Description">
      </div>
    </figure>
    <!-- End SVG Elements -->
    <!-- End Search -->
  </div>
</div>



