<%= render "view_menu", :title => "Edit main website #{@stock.ticker_with_name}" %>
<div class="container space-1">
  <!-- Card -->
  <div class="card mx-auto">
    <!-- Form -->
    <h3><%= @stock.ticker_with_name %></h3>
    <%= render "edit_stock_form" %>
    <!-- End Card -->
    <!-- SVG Elements -->
    <figure class="max-w-19rem w-100 position-absolute bottom-0 right-0 z-index-n1 hide-svg">
      <div class="mb-n7 mr-n7">
        <img class="img-fluid" src="<%= asset_path("components/dots-3.svg") %>" alt="Image Description">
      </div>
    </figure>
    <!-- End SVG Elements -->
    <!-- End Search -->
  </div>
</div>
