@import '../variables';

body {
  margin: 0;
  //height: 100vh;
}

.welcome {
  text-align: center;
}

.welcome-main {
  margin-top: 4rem;
  padding: 1rem;
}

.welcome-title {
  margin: 1rem !important;
}

.lead {
  margin: 1rem !important;
}

.search {
  position: relative;
  margin: auto;
  width: 18rem;
  color: white;
  background-color: $primary-color;
  border-radius: 20px;

  input {
    color: white;
  }
}

.searchIcon {
  padding-left: 8px;
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-paper {
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
}

.welcome-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 2rem;
}

.welcome-btn {
  a {
    color: white;
    text-decoration: none;
  }
}

.notification {
  width: 100% !important;
  position: absolute !important;
  text-align: center !important;
  background-color: #26a69a !important;
  margin-top: 0rem !important;
  color: white;
  padding: .5rem 0;
  font-family: $font-family;
}

.menu-link {
  padding-top: 2px !important;
  padding-bottom: 8px;
  a {
    text-decoration: none;
    color: #4A4A4A !important;
  }
}

.video-skeleton {
  height: 20rem !important;
  width: 30rem;
  margin: auto;
  margin-top: 11rem;
}

.skeleton-caption {
  text-align: center;
  margin-top: 10px;
}

.custom-listItem-text span {
  font-size: .875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.375rem;
  letter-spacing: 0.00938em;
}

.custom-link-btn {
  margin: 8px !important;
  height: calc(48px - 2 * 4px);
  padding: 0 8px !important;
  justify-content: flex-start;
  text-decoration: none;
  width: auto !important;
  border-radius: 4px !important;
}

.main-root{
  display: flex;
}

.main-content-react{
  margin: auto;
  width: 100%;
}

.people-in-chat .MuiDrawer-paperAnchorLeft{
  left: auto;
}
@media only screen and (max-width: 600px) {
  .notification {
    margin-top: 3.5rem !important;
  }
}

@media only screen and (max-width: 960px) {
  .main-root {
    display: block;
  }
  .drawer{
    width: 0 !important;
  }
  .people-in-chat .MuiDrawer-paperAnchorLeft{
    left: 0;
    width: 256px;
  }
}


@media only screen and (max-width: 540px) {
  .search {
    width: inherit;

    .MuiInputBase-root {
      width: 65%;
    }
  }
  .welcome-btn {
    margin: 1rem !important;
  }
}