@import '../variables';

body {
  margin: 0;
  height: 100vh;
  background-color: #ffffff;
}

.main-root {
  display: flex;
  height: 100%;
}

.main-content-react {
  margin: auto;
  width: 100%;
  height: inherit;
  z-index: 2;
  background-color: $bg-color;
}

.svg-bottom {
  position: fixed;
  bottom: 0;
  opacity: 0.1;
  z-index: -1;
}

.course-cards {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1rem;
  justify-content: center;
}


.course-detail-bg-img {
  background-image: url('../../assets/images/components/img10.jpg');
}

.rating {
  display: inherit;
  margin-top: 5px;
}

ul.timeline {
  list-style-type: none;
  position: relative;
}

ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 1px;
  height: 98%;
  margin-top: 15px;
  z-index: 400;
}

ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}

ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #377DFF;
  left: 22px;
  width: 15px;
  height: 15px;
  margin-top: 10px;
  z-index: 400;
}

.alert {
  margin-bottom: 0;
}

.main-layout {
  height: 100%;
  display: flex;
}

.chat-side-nav {
  max-width: inherit;
}

.side-nav-flex {
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}

.messages-main {
  flex-grow: 1;
}

.main-layout .main {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  order: 3;
  flex: 1;
  background: #fff;
}

.qualification-input span {
  text-transform: capitalize;
  color: red;
  margin-top: 4px;
  font-size: 12px;
  margin-left: 4px;
}

.message-main nav {
  display: flex;
}

.main-layout .sidebar {
  background: #f8f9fa;
  flex-grow: 2;
}

.main-layout .chats {
  display: flex;
  height: 100%;
  flex-grow: 1;
}

.chat-body {
  display: flex;
  flex-grow: 1;
  flex-flow: column;
  min-width: 0;
  width: 100%;
}

.chat-body .chat-header {
  padding: .75rem 1rem;
  border-bottom: 1px solid #e5e9f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.chat-body .chat-content {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: auto;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  .chat-body .chat-footer {
    padding: .75rem 2.25rem;
  }
}

.course-cards{
  display: flex;
  flex-flow: row wrap;
}

.sidebar {
  //position: relative;
  top: 0;
  right: 0;
  z-index: 1003;
  width: 23.4375rem;
  height: 100%;
  background-color: #fff;
  box-shadow: -5px 0px 12px rgba(103, 119, 136, 0.1);
}

#core-root {
  height: 100%;
}

@media (min-width: 1200px) {
  .main-layout {
    flex-direction: row;
  }
  .main-layout .sidebar {
    flex-grow: 0;
    width: 26.25rem;
    border-right: 1px solid #e5e9f2;
  }
  .main-layout .main {
    height: 100vh;
  }
}

@media (max-width: 990px) {
  .main-layout {
    flex-direction: column;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6b6b6b;
}
