@import '../variables';

body {
  margin: 0;
  height: 100vh;
  background-color: #fafafa;
}

.welcome {
  text-align: center;
}

.welcome-main {
  margin-top: 6rem;
  padding: 1rem;
}

.welcome-title {
  margin: 1rem !important;
}

.lead {
  margin: 1rem !important;
}

.search {
  position: relative;
  margin: auto;
  width: 18rem;
  color: white;
  background-color: $primary-color;
  border-radius: 20px;

  input {
    color: white;
  }
}

.searchIcon {
  padding-left: 8px;
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-paper {
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
}

.welcome-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 2rem;
}

.welcome-btn {
  a {
    color: white;
    text-decoration: none;
  }
}

.notification {
  width: 100% !important;
  position: absolute !important;
  text-align: center !important;
  background-color: #26a69a !important;
  margin-top: 4rem !important;
  color: white;
  padding: .5rem 0;
  font-family: $font-family;
}

.menu-link {
  padding-top: 7px !important;
  padding-bottom: 8px;

  a {
    text-decoration: none;
    color: #4A4A4A !important;
  }
}

.video-skeleton {
  height: 20rem !important;
  width: 30rem;
  margin: auto;
  margin-top: 11rem;
}

.skeleton-caption {
  text-align: center;
  margin-top: 10px;
}

.custom-listItem-text span {
  font-size: .875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: 0.00938em;
}

.custom-link-btn {
  margin: 8px !important;
  height: calc(48px - 2 * 4px);
  padding: 0 8px !important;
  justify-content: flex-start;
  text-decoration: none;
  width: auto !important;
  border-radius: 4px !important;
}

.main-root {
  display: flex;
  height: 100%;
}

.main-content-react {
  margin: auto;
  width: 100%;
  height: inherit;
  z-index: 2;
  background-color: $bg-color;
}

.people-in-chat .MuiDrawer-paperAnchorLeft {
  left: auto;
}

.search-root {
  padding: 2px 4px;
  display: flex;
  align-items: center;
  width: 400px;
}

.search-input {
  margin-left: 10px;
  flex: 1;
}

.search-button {
  padding: 10px;
}

.home-search {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.svg-bottom {
  position: fixed;
  bottom: 0;
  opacity: 0.1;
  z-index: -1;
}

.course-card-item {
  width: 300px;
  margin: 10px 20px;
  text-align: center;

  .MuiButton-label {
    color: $accent-color;
  }
  a{
    text-decoration: none;
    color: black;
  }
}

.card-actions {
  justify-content: center;
}

.course-card-item:hover {
  box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.course-card-item button:hover {
  .course-media {
    transform: scale(1.1);
    transition: ease 300ms;
  }
}

.course-media {
  height: 160px;
  transition: ease 300ms;
}

.course-card-info{
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: $accent-color;
  color: white;
  padding: 4px 8px;
  border-radius: 9px;
  font-size: 12px;
  font-weight: 600;
  z-index: 1;
}

.course-cards {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1rem;
  justify-content: center;
}

.rating {
  margin-left: 16px;
  margin-bottom: 5px;
}

@media only screen and (max-width: 600px) {
  .notification {
    margin-top: 3.5rem !important;
  }
  #card-home {
    width: 350px;
  }
  .home-search {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 960px) {
  .main-root {
    display: block;
  }
  .drawer {
    width: 0 !important;
  }
  .people-in-chat .MuiDrawer-paperAnchorLeft {
    left: 0;
    width: 256px;
  }
}


@media only screen and (max-width: 540px) {
  .search {
    width: inherit;

    .MuiInputBase-root {
      width: 65%;
    }
  }
  .welcome-btn {
    margin: 1rem !important;
  }
  .course-card-item {
    width: 400px;
  }
}

@media only screen and (max-width: 578px) {
  .course-card-item {
    width: 400px;
  }
}
