<div class="erb-body">
<div class="mdc-card course-main course-update">
  <h2 class="mdc-typography--headline5 login-title">
    Edit Course
  </h2>
  <hr class="mdc-list-divider divider-margin">
  <%= render 'form', course: @course %>
</div>
</div>
