<div class="mdc-card registration-main">
  <h2 class="mdc-typography--headline5 login-title">
    Edit Category
  </h2>
  <hr class="mdc-list-divider divider-margin">
  <%= render 'form', category: @category %>
</div>
