.video-call-container {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100vh;
}

.video-call-control-icon {
  margin: 0 1rem;
  padding: 1rem;
  vertical-align: middle;
  text-align: center;
}

.call-green {
  background-color: #0f9d58 !important;
}

.video-call-control-bar {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.local-video-container.connected {
  
}

.local-video-box {
  justify-content: center;
}
