@import "../../variables";

.video-call-container {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100vh;
}

.video-call-control-icon {
  margin: 0 1rem;
  padding: 1rem;
  vertical-align: middle;
  text-align: center;
}

.call-green {
  background-color: $accent-color !important;
}

.video-call-control-bar {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 1rem;
  flex-flow: row wrap;
}

.video-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-caption {
  padding-top: 10px;
}

.loading {
  flex-flow: column;
  text-align: center;
}

.local-video-box {
  justify-content: center;
  width: 100%;
  height: inherit;
}

.local-video-container {
  display: flex;
  height: inherit;
  min-width: 100%;
  align-items: center;
  justify-content: center;
}

#remote-calls-container {
  display: flex;
  flex-flow: row wrap;
  height: inherit;
  width: inherit;
  align-items: center;
  justify-content: center;
}

#remote-calls-container:first-child video {
  height: inherit !important;
  width: inherit !important;
}


.snackbar .MuiSnackbarContent-root {
  background-color: white;
  color: $primary-color;
  transition: ease-in 0.3s;
}

.snack-msg {
  display: flex;
  align-items: center;

  .snack-caption {
    padding-left: 10px;
  }
}

.connected {
  display: contents;

  video {
    position: absolute;
    right: 1rem;
    width: 10rem;
    height: auto !important;
    top: 5rem;
    box-shadow: 0px 3px 8px #6a6a6a;
  }
}

.local-video {
  height: inherit;
  width: 100%;
}

.remote-video-participant {
  height: 30rem;
  width: auto;
}

.video-layout-main {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 960px) {
  .root {
    display: block !important;
  }
  .local-video-container, #remote-calls-container {
    width: 100%;
    flex-flow: column;
  }

}

@media only screen and (max-width: 990px) {
  .remote-video-participant{
    width: 100%;
  }
}
