.video-call-container {
  margin: 2px;
  display: flex;
}
.video-call-control-icon {
  width: 3rem;
  border: 2px solid #fff;
  background: #ddd;
  margin: 0 1rem;
  padding: 1rem;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  opacity: 0.75;
}
.video-call-control-icon:hover {
  background: #efefef;
  cursor: pointer;
}

.video-component {
  border: 4px solid #ccc;
}

.local-video-container {
  position: relative;
}

.video-call-control-bar {
  padding:10px;
  display: flex;
  position: absolute;
  bottom: 0;
  margin: 10px;
}
