@import "../../javascript/variables";

body {
  margin: 0;
  height: auto;
  background: #dedede;
}

header {
  background-color: $primary-color !important;
}

.notice {
  text-align: center;
  /* margin-top: 1rem; */
  bottom: 0;
  padding: 10px 0;
  color: white;
  margin: 0;
  background-color: $accent-color;
  width: 100%;
  position: absolute;
}

.alert {
  text-align: center;
  /* margin-top: 1rem; */
  bottom: 0;
  padding: 10px 0;
  color: white;
  margin: 0;
  background-color: $error-color;
  width: 100%;
  position: absolute;
}

.registration-main {
  width: 40rem;
  margin: auto;
  padding: 1rem;
  top: 5rem;
}

.course-main {
  width: 60rem;
  margin: auto;
  padding: 1rem;
  top: 5rem;
}

.notice, .alert {
  text-align: center;
  margin-top: 1rem;
}

.login-title {
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 0;

  input {
    height: inherit;
    padding: 0 10px;
  }
}

.mdc-text-field--filled::before {
  height: 0;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

#error_explanation {
  background-color: $error-color;
  color: white;
  padding: 10px 10px;
  border-radius: 8px;
}

.action-btn {
  margin: 1rem 0;
  background-color: $primary-color !important;

  input {
    background: none;
    border: none;
    font-size: 1rem;
    color: white;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

.secondary-btn {
  margin: 1rem 0 !important;
  line-height: 2.5;
  text-decoration: none;
  text-align: center;
  height: 36px;
  padding: 0 10px;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;
  border: none;
  border-radius: 4px;
  background-color: #f3f3f3;
  color: $primary-color;
  font-weight: 500;

  a {
    color: $primary-color;
    text-decoration: none;
    font-size: 15px;
  }
}

.secondary-btn:hover {
  background: #3f51b5;
  color: white;

  a {
    color: white;
  }
}

.secondary-btn:focus {
  outline: none;
}

.subtitle {
  margin: 1rem 0;
}

.back {
  margin: auto;
  text-align: center;
  color: $accent-color !important;

  a {
    color: $accent-color !important;
  }
}

.back:hover {
  background-color: $accent-color;
  color: white !important;
}

.cancel {
  margin: auto;
  text-align: center;
  color: $error-color !important;

  a {
    color: $error-color !important;
  }
}

.cancel:hover {
  background-color: $error-color;
  color: white !important;
}

.delete {
  background-color: $error-color !important;
}

.delete-secondary {
  float: none;

  a {
    color: $accent-color;
  }
}

.delete-secondary:hover {
  background-color: $accent-color;
  color: white;
}

.user-details {
  text-align: center;
}

.mdc-top-app-bar {
  z-index: 7;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.custom-app-bar {
  margin-left: 0px !important;
}

.mdc-list-item:hover {
  background-color: #F5F5F5;
}

.divider-margin {
  margin-bottom: 1rem;
}

.extra-links {
  margin-top: 10px;
  text-align: center;

  a {
    color: #000000a1;
    text-decoration: none;
    font-weight: 600;
    font-size: 11px;
  }

  a:hover {
    color: $primary-color;
  }
}

.remember-me {
  margin-top: 10px;
}

.password {
  margin-top: 1rem;
}

.btn-main {
  text-align: center;
  margin-top: 1rem;
}

.field_with_errors {
  width: inherit;
  height: inherit;
}

.field-error {
  text-transform: capitalize;
  color: #b00020;
  margin-top: 4px;
}

.minimum-password {
  font-size: 10px;
}

.divider {
  margin: 10px 0;
}

.enrollment-table {
  text-align: center;
  padding-top: 2rem;

  input {
    border: 1px solid #c5c5c5;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
  }

  input:focus {
    border: 1px solid #6b6b6b !important;
    outline: none;
  }
}

.enrollment-title {
  text-align: center;
  margin-top: 6rem;
  //margin-bottom: 2rem;
}

.add-more-people {
  text-align: center;

  a {
    color: white;
    text-decoration: none;
  }
}

.action {
  a {
    text-decoration: none;
  }
}

.action-head {
  text-align: center;
}

.course-select select {
  background-color: transparent;
  height: inherit;
  width: inherit;
  font-size: 1rem;
  padding-left: 8px;
  border: none;
}

.course-select select:focus {
  outline: none;
}

.course-textarea {
  min-height: 56px;
  max-width: 100%;
  width: -moz-available;
  width: 100%;
  border: none;
  outline: none;
  background: whitesmoke;
}

.mdc-drawer {
  height: 100vh;
  position: absolute;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

.slide-in {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@media only screen and (max-width: 500px) {
  .login-main {
    width: 20rem;
  }
  .registration-main {
    box-shadow: none;
    width: inherit;
    top: 5rem;
  }
  .course-main {
    box-shadow: none;
    width: inherit;
    top: 5rem;
  }
}

@media only screen and (max-width: 700px) {
  .resp-table {
    width: 100%;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
  }
}

@media only screen and (max-width: 1070px) {
  .resp-table-large {
    width: 100%;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
  }
}

.user-fields {
  display: flex;
  text-align: left;
  padding: 10px 0;
  border-bottom: 1px dotted #ddd;

  .field-label {
    width: 50%;
  }
}
