/*
 *= require libraries/theme
 *= require libraries/all.min
 *= require libraries/hs-mega-menu.min
 *= require_self
 */

.custom-align-center {
  text-align: center;
}

.breadcrumb-no-margin {
  margin-bottom: 0;
  padding: 0;
}

.field_with_errors {
  input, textarea {
    border-color: red !important;
  }
  label{
    width: inherit;
  }
}

.alert{
  margin-bottom: 0;
}

#course_category_id,#course_level{
  width: inherit;
  height: calc(1.6em + 1.625rem);
  border: 1px solid #e7eaf3;
  padding: 0.75rem 1rem;
  color: #677788;
}

.field-error, .minimum-password {
  margin-top: 6px;
  margin-left: 4px;
  color: red;
  text-transform: capitalize;
}

@media only screen and (max-width: 1024px) {
  .hide-svg{
    display: none;
  }
}
