/*
 *= require libraries/theme
 *= require libraries/all.min
 *= require hs-mega-menu.min
 *= require slick
 *= require_self
 */

.custom-align-center {
  text-align: center;
}

.breadcrumb-no-margin{
  margin-bottom: 0;
  padding: 0;
}

.field_with_errors input,textarea {
  border-color: red !important;
}

.field-error, .minimum-password {
  margin-top: 6px;
  margin-left: 4px;
  color: red;
  text-transform: capitalize;
}
