<!-- Hero Section -->
<div class="bg-navy bg-img-hero">
  <div class="container space-1 ">
    <div class="w-lg-65 text-center mx-lg-auto">
      <span class="badge badge-soft-light badge-pill font-size-1 py-3 px-4 mb-3">
       <nav aria-label="breadcrumb">
         <ol class="breadcrumb breadcrumb-light breadcrumb-no-margin">
          <li class="breadcrumb-item"><a href="<%= teaching_courses_path %>" class="text-light text-highlight-light">My Courses</a></li>
          <li class="breadcrumb-item active" aria-current="page">Create New Course</li>
        </ol>
        </nav>
      </span>
    </div>
  </div>
</div>
<!-- End Hero Section -->
<div class="container space-1">
  <!-- Step Form -->
  <form class="js-step-form"
        data-hs-step-form-options='{
        "progressSelector": "#basicStepFormProgress",
        "stepsSelector": "#basicStepFormContent"
      }'>
    <!-- Step -->
    <ul id="basicStepFormProgress" class="js-step-progress step step-md step-inline space-bottom-1">
      <li class="step-item">
        <div class="step-content-wrapper">
          <span class="step-icon step-icon-soft-primary">1</span>
          <div class="step-content">
            <span class="step-inline-title">Course</span>
          </div>
        </div>
      </li>

      <li class="step-item">
        <div class="step-content-wrapper">
          <span class="step-icon step-icon-soft-primary">2</span>
          <div class="step-content">
            <span class="step-inline-title">Chapters</span>
          </div>
        </div>
      </li>

      <li class="step-item">
        <div class="step-content-wrapper">
          <span class="step-icon step-icon-soft-primary">3</span>
          <div class="step-content">
            <span class="step-inline-title">Course Contents</span>
          </div>
        </div>
      </li>

      <li class="step-item">
        <div class="step-content-wrapper">
          <span class="step-icon step-icon-soft-primary">4</span>
          <div class="step-content">
            <span class="step-inline-title">Confirmation</span>
          </div>
        </div>
      </li>
    </ul>
    <!-- End Step -->

    <!-- Content Step Form -->
    <div id="basicStepFormContent" class="rounded p-4">
      <div id="basicSelectStepOne" class="active">
        <!-- Card -->
        <div class="card mx-auto">
          <!-- Form -->
          <%= render 'form', course: @course %>
          <!-- End Card -->
        </div>
      </div>

      <div id="basicSelectStepTwo" style="display: none;">
        Chapters
        <!-- Card -->
        <div class="card mx-auto w-lg-60">
          <!-- Form -->
          <%#= render 'form', chapter: @chapter %>
          <!-- End Card -->
        </div>

        <div class="d-flex justify-content-end">
          <a class="btn btn-sm btn-soft-secondary transition-3d-hover mr-1" href="javascript:;"
             data-hs-step-form-prev-options='{
             "targetSelector": "#basicSelectStepOne"
           }'>Back</a>
          <button type="button" class="btn btn-sm btn-primary transition-3d-hover"
                  data-hs-step-form-next-options='{
                  "targetSelector": "#basicSelectStepThree"
                }'>Next</button>
        </div>
      </div>

      <div id="basicSelectStepThree" style="display: none;">
          Course Contents
        <div class="card mx-auto ">
          <!-- Form -->
          <%#= render 'form', course_content: @course_content %>
          <!-- End Card -->
        </div>

        <div class="d-flex justify-content-end">
          <a class="btn btn-sm btn-soft-secondary transition-3d-hover mr-1" href="javascript:;"
             data-hs-step-form-prev-options='{
             "targetSelector": "#basicSelectStepTwo"
           }'>Back</a>
          <button type="button" class="btn btn-sm btn-primary transition-3d-hover"
                  data-hs-step-form-next-options='{
                  "targetSelector": "#basicSelectStepFour"
                }'>Next</button>
        </div>
      </div>

      <div id="basicSelectStepFour" style="display: none;">
        Press 'Create' to save this course.

        <div class="d-flex justify-content-end">
          <a class="btn btn-sm btn-soft-secondary transition-3d-hover mr-1" href="javascript:;"
             data-hs-step-form-prev-options='{
             "targetSelector": "#basicSelectStepThree"
           }'>Back</a>
          <button type="button" class="btn btn-sm btn-primary transition-3d-hover">Create</button>
        </div>
      </div>
    </div>
    <!-- End Content Step Form -->
  </form>
  <!-- End Step Form -->
</div>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "hs-step-form.min" %>
  <script>
      $(document).on('ready', function () {
          // initialization of step form
          $('.js-step-form').each(function () {
              var stepForm = new HSStepForm($(this)).init();
          });
      });
  </script>
<% end %>



