<div class="erb-body">
  <div class="mdc-card course-main course-update">
    <h2 class="mdc-typography--headline5 login-title">
      Start your teaching journey
    </h2>
    <hr class="mdc-list-divider divider-margin">
	<p>
		And get paid for what you love
	</p>
	<%= link_to 'Create New Course', new_teaching_course_path, class: 'mdc-button mdc-button--raised action-btn' %>
  </div>
</div>



