<div class="container space-2">
  <div class="row space-top-2">
    <div class="col-lg-6">
      <!-- Card -->
      <article class="card h-100">
        <div class="w-sm-65 p-4">
          <h3>Start your teaching journey</h3>
          <div class="mb-4">
            <p>Empower other people by teaching what you love so they can build their career.</p>
          </div>
          <a class="btn btn-sm btn-soft-primary btn-pill transition-3d-hover" href="#">Find out More
            <i class="fas fa-angle-right ml-1"></i></a>
        </div>

        <div class="position-absolute bottom-0 right-0 w-sm-35 max-w-27rem">
          <img class="img-fluid" src="<%= asset_path('illustrations/support-man.svg') %>" alt="Image Description">
        </div>
      </article>
      <!-- End Card -->
    </div>

    <div class="col-lg-6 mt-sm-3 mt-3">
      <!-- Card -->
      <article class="card h-100">
        <div class="w-sm-65 p-4">
          <h3>Get paid for what you love</h3>
          <div class="mb-4">
            <p>
              Build your course to address the fast-changing skillset needed for the job market and get outstanding pay for your effort.
            </p>
          </div>
          <a class="btn btn-sm btn-soft-primary btn-pill transition-3d-hover" href="#">Find out More
            <i class="fas fa-angle-right ml-1"></i></a>
        </div>

        <div class="position-absolute bottom-0 right-0 w-sm-35 max-w-27rem">
          <img class="img-fluid" src="<%= asset_path('illustrations/list-app.svg') %>" alt="Image Description">
        </div>
      </article>
      <!-- End Card -->
    </div>
  </div>

  <div class="container space-2 space-top-lg-3">
    <div class="text-center py-6 course-create-bg" >
      <h2>Want to share your knowledge?</h2>
      <p>Fill out a few questionnaire and showcase your expertise to the world.</p>
      <span class="d-block mt-5">
          <%= link_to 'Create your first Course', new_teaching_course_path, class: 'btn btn-primary transition-3d-hover' %>
    </span>
    </div>
  </div>
</div>

</div>
</div>



