<div class="p-3">
  <%= render "teaching/course_contents/index", :course_contents => chapter.course_contents, :chapter => chapter %>
  <%= render "teaching/assignments/index", :assignments => chapter.assignments, :chapter => chapter %>
</div>
