<% if notice %>
	<div class="alert alert-soft-success custom-align-center" role="alert">
		<%= notice %>
	</div>
<% end %>

<% if alert %>
	<div class="alert alert-soft-danger custom-align-center" role="alert">
		<%= alert %>
	</div>
<% end %>
