<!-- Step Form -->
<form class="js-step-form space-bottom-1 ml-xl-8 ml-lg-0">
  <!-- Step -->
  <ul id="basicStepFormProgress" class="js-step-progress step step-md step-inline">
    <li class="step-item
      <% if params[:controller] == "teaching/courses" %>active
      <% end %>">
      <div class="step-content-wrapper">
        <span class="step-icon step-icon-soft-primary"><i class="fas fa-user-graduate"></i></span>
        <div class="step-content">
          <span class="step-inline-title">Course</span>
        </div>
      </div>
    </li>

    <li class="step-item
      <% if params[:controller] == "teaching/chapters" %>active
      <% end %>">
      <div class="step-content-wrapper">
        <span class="step-icon step-icon-soft-primary"><i class="fas fa-book-open"></i></span>
        <div class="step-content">
          <span class="step-inline-title">Chapters</span>
        </div>
      </div>
    </li>

    <li class="step-item
      <% if params[:controller] == "teaching/assignments" || params[:controller] == "teaching/course_contents" %>active
      <% end %>">
      <div class="step-content-wrapper">
        <span class="step-icon step-icon-soft-primary"><i class="fas fa-book"></i></span>
        <div class="step-content">
          <span class="step-inline-title">Course Contents</span>
        </div>
      </div>
    </li>

    <li class="step-item">
      <div class="step-content-wrapper">
        <span class="step-icon step-icon-soft-primary"><i class="fas fa-check"></i></span>
        <div class="step-content">
          <span class="step-inline-title">Confirmation</span>
        </div>
      </div>
    </li>
  </ul>
  <!-- End Step -->

  <!-- Content Step Form -->
  <!--  <div id="basicStepFormContent" class="border rounded p-4">-->
  <!--    <div id="basicSelectStepOne" class="active">-->
  <!--      Select One content goes here-->

  <!--      <div class="d-flex justify-content-end">-->
  <!--        <button type="button" class="btn btn-sm btn-primary transition-3d-hover mr-1"-->
  <!--                data-hs-step-form-next-options='{-->
  <!--                  "targetSelector": "#basicSelectStepTwo"-->
  <!--                }'>Next</button>-->
  <!--      </div>-->
  <!--    </div>-->

  <!--    <div id="basicSelectStepTwo" style="display: none;">-->
  <!--      Select Two content goes here-->

  <!--      <div class="d-flex justify-content-end">-->
  <!--        <a class="btn btn-sm btn-soft-secondary transition-3d-hover mr-1" href="javascript:;"-->
  <!--           data-hs-step-form-prev-options='{-->
  <!--             "targetSelector": "#basicSelectStepOne"-->
  <!--           }'>Back</a>-->
  <!--        <button type="button" class="btn btn-sm btn-primary transition-3d-hover"-->
  <!--                data-hs-step-form-next-options='{-->
  <!--                  "targetSelector": "#basicSelectStepThree"-->
  <!--                }'>Next</button>-->
  <!--      </div>-->
  <!--    </div>-->

  <!--    <div id="basicSelectStepThree" style="display: none;">-->
  <!--      Select Three content goes here-->

  <!--      <div class="d-flex justify-content-end">-->
  <!--        <a class="btn btn-sm btn-soft-secondary transition-3d-hover mr-1" href="javascript:;"-->
  <!--           data-hs-step-form-prev-options='{-->
  <!--             "targetSelector": "#basicSelectStepTwo"-->
  <!--           }'>Back</a>-->
  <!--        <button type="button" class="btn btn-sm btn-primary transition-3d-hover"-->
  <!--                data-hs-step-form-next-options='{-->
  <!--                  "targetSelector": "#basicSelectStepFour"-->
  <!--                }'>Next</button>-->
  <!--      </div>-->
  <!--    </div>-->

  <!--    <div id="basicSelectStepFour" style="display: none;">-->
  <!--      Select Four content goes here-->

  <!--      <div class="d-flex justify-content-end">-->
  <!--        <a class="btn btn-sm btn-soft-secondary transition-3d-hover mr-1" href="javascript:;"-->
  <!--           data-hs-step-form-prev-options='{-->
  <!--             "targetSelector": "#basicSelectStepThree"-->
  <!--           }'>Back</a>-->
  <!--        <button type="button" class="btn btn-sm btn-primary transition-3d-hover">Done</button>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!-- End Content Step Form -->
</form>
<!-- End Step Form -->

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "hs-step-form.min" %>
  <script>
      $(document).on('ready', function () {
          // initialization of step form
          $('.js-step-form').each(function () {
              var stepForm = new HSStepForm($(this)).init();
          });
      });
  </script>
<% end %>